{% include 'sitio/cabecera.html'%}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index_muestra_de_productos.css') }}">
    <title>Stylo</title>
</head>
<body>
    <main class="centromain">
        <section class="contenido">
            <div class="mostrador" id="mostrador">
                <h1>Clothing</h1>
                <div class="fila">
                    {% for recepcion in recepcion %}
                    <div class="item" onclick="cargar('{{ recepcion[1] }}', '{{ recepcion[2] }}', '{{ recepcion[3] }}', '{{ recepcion[4] }}', '{{ recepcion[0] }}', '/img/{{ recepcion[5] }}')">
                        <div class="contenedor-foto">
                            <img src="/img/{{ recepcion[5] }}" class="img-fluid rounded-top" id="img-original" alt="">
                            <img src="/img/{{ recepcion[7] }}" class="img-fluid rounded-top" id="img-hover" alt="">
                        </div>
                        <p class="Nombre">{{ recepcion[1] }}</p>
                        <span class="precio">$ {{ recepcion[4] }}</span>
                        <form action="/carrito/guardar" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="{{ recepcion[0] }}" name="txtID" id="txtID">
                            <button type="submit" class="btn btn-danger">Agregar al carrito</button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- ITEM SELECCIONADO-->
            <div class="seleccion" id="seleccion">
                <div class="cerrar" onclick="cerrar()">
                    &#x2715;
                </div>
                <div class="info">
                    <img src="" alt="" id="imgSeleccionada">
                    <div class="detalle">
                        <h2 id="modeloSeleccionado"></h2><br>
                        <p id="descripSeleccionada"></p><br>
                        <p id="colorSeleccionado"></p><br>
                        <p id="precioSeleccionado"></p><br>
                        <div class="size">
                            <label for="">SIZE</label>
                            <select name="" id="size">
                                <option value="">XXS</option>
                                <option value="">XS</option>
                                <option value="">S</option>
                                <option value="">M</option>
                                <option value="">L</option>
                                <option value="">XL</option>
                                <option value="">XXL</option>
                            </select>
                        </div><br>
                        <form action="/carrito/guardar" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="" name="txtID" id="txtIDSeleccionado">
                            <button type="submit" class="btn btn-danger">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="../../static/js/index_muestra_de_productos.js"></script>
    {% include 'sitio/pie.html'%}
</body>
</html>